[submodule "ITKfilters"]
	path = ITKfilters
	url = https://github.com/phcerdan/ITKfilters.git
[submodule "FFT-from-image-compute-radial-intensity"]
	path = FFT-from-image-compute-radial-intensity
	url = https://github.com/phcerdan/FFT-from-image-compute-radial-intensity.git
[submodule "proxTV_saxstem"]
	path = proxTV_saxstem
	url = https://github.com/phcerdan/proxTV_saxstem
[submodule "manuscript_SAXS-TEM-comparison"]
	path = manuscript_SAXS-TEM-comparison
	url = https://github.com/phcerdan/manuscript_SAXS-TEM-comparison
